*{padding: 0;margin: 0;}
body{
	font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
	text-decoration: none;
	color: #333;
}
li{
	list-style: none;
}
.fix:after{
content: "";
display: block;
clear: both;
}
.fix{
	zoom:1;
}